<input nz-col [nzSpan]="6" nz-input placeholder="Search" name="search" [(ngModel)]="searchText" type="string"
    nzSize="large" />
<br>
<br>


<!-- when loading  -->
<div  nz-row [nzGutter]="30" *ngIf="isLoading">
    <div *ngFor="let _ of loadingArray" nz-col  [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" style="margin-bottom: 30px;">
        <nz-card nzHoverable style="width:240px">
            <nz-skeleton [nzTitle]="true" [nzParagraph]="{ rows: 3 }"></nz-skeleton>
        </nz-card>
    </div>
</div>

<!-- after loading  -->
<div nz-row [nzGutter]="30" *ngIf="!isLoading">
    <div (click)="goToAbout(card_item.title)" *ngFor="let card_item of cards_items | filterBy: ['title'] : this.searchText" nz-col  [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6" style="margin-bottom: 30px;">
        <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle={{card_item.title}} nzDescription={{card_item.content}}></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
            <img a="/welcome" alt="example" width=240px, height=150px src={{card_item.image_url}} />
        </ng-template>
    </div>
</div>
